.sidebar {
  position: fixed;
  background-color: white;
  top: 65px;
  left: 0;
  bottom: 0;
  width: 80px;
  z-index: 200;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(228, 227, 227);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto , Arial;
  font-size: 10px;
}